.idea/
data/custom/*.png
data/custom/*.gif
*.bat
changelog.txt
data/sounds/favs/*.wav
data/sounds/sr/*.wav
data/pixiv/*.png
data/pixiv/*.jpg
data/special/cookies.txt
data/special/tokens
data/log/*.txt
modules/__pycache__
