bidict==0.21.2
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cloudscraper==1.2.56
Flask==1.1.2
Flask-SocketIO==5.0.1
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Pillow==8.2.0
pixiv-api==0.3.6
pycparser==2.20
pyparsing==2.4.7
python-dotenv==0.15.0
python-engineio==4.0.0
python-socketio==5.0.4
requests==2.25.1
requests-toolbelt==0.9.1
urllib3==1.26.4
Werkzeug==1.0.1
youtube-dl==2021.2.4.1
zope.event==4.5.0
zope.interface==5.2.0
