<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>images, songrequests</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <div id="imgdiv" class="outer">
        <img id="img">
    </div>
    <script>socket.on('setimage', function(data) { set_image(data['width'], data['height'], "{{ url_for('static', filename='') }}" + data['src']); });</script>
</body>
</html>
