<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shtcd-twitch</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/tts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <div id="imgdiv" class="outer">
        <img id="img">
    </div>
    <script>socket.on('setimage', function(data) { set_image(data['width'], data['height'], "{{ url_for('static', filename='') }}" + data['src']); });</script>
</body>
</html>
